body {
    margin: 0;
}

.container {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    padding: 0.5em;
}

.container h3, p {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0;
}

.container h4, q {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

.testimonial {
    border-radius: 0.5em;
}

.testimonial img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 81%);
    margin: 0.5em;
}

.personal-info {
    display: flex;
    justify-content: start;

}

.personal-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#test1 {
    background-color: hsl(263, 55%, 52%);
    background-repeat: no-repeat;
    background-position: right 4em top 0;
    background-image: url(./images/bg-pattern-quotation.svg) ;
    color: hsl(0, 0%, 100%);
    grid-column: span 2;
}

#test2 {
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

#test3 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 7%);
}

#test4 {
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    grid-column: span 2;
}

#test5 {
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 7%);
    grid-row: 1 / span 2;
    grid-column: 4 / 5;
}

footer {
    margin-top: 100px
}